[submodule "rails"]
	path = rails
	url = git@github.com:rails/rails.git
[submodule "ruby"]
	path = ruby
	url = git@github.com:ruby/ruby.git
[submodule "mastodon"]
	path = mastodon
	url = git@github.com:mastodon/mastodon.git
